/* Larger Views ******************************/
@media (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
        padding: 0 50px;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}
