/* Larger Views ******************************/
@media (min-width: 750px) {


    .navigation {
        justify-content: flex-end;
        flex-direction: row;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}
