:root {
    /* change the values below to your colors from your palette */
    --seasalt: #f8f9faff;
    --antiflash-white: #e9ecefff;
    --platinum: #dee2e6ff;
    --french-gray: #ced4daff;
    --french-gray-2: #adb5bdff;
    --slate-gray: #6c757dff;
    --outer-space: #495057ff;
    --onyx: #343a40ff;
    --eerie-black: #212529ff;

    /* Palette Color image*/

    /* CSS HEX */
    --alice-blue: #DCE9F7ff;
    --powder-blue: #B6C9DFff;
    --dim-gray: #5C6069ff;
    --gunmetal: #1F2E3Bff;
    --french-gray: #B7B0BEff;

    /* change the values below to your chosen font(s) */
    --poppins-regular: "Poppins", sans-serif;
    --poppins-regular-weight: 400;
    --poppins-thin: "Poppins", sans-serif;
    --poppins-thin-weight: 100;
}

* {
    margin: 0;
    padding: 0;
    font-family: var(--poppins-regular);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gunmetal);
}

header img {
    width: 90px;
    padding: 10px;
}

header h1 {
    font-size: 24px;
    color: var(--alice-blue);
}

#menu {
    background-color: var(--gunmetal);
    color: var(--alice-blue);
    border-radius: 20%;
    border: 0;
}

#menu {
    font-size: 40px;
    position: absolute;
    top: 1.5rem;
    right: 2rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
    font-size: 25px;
}

.navigation {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--gunmetal);
    width: 100%;
    height: 100%;
    font-size: 16px;

}

.navigation a {
    align-self: center;
    display: none;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    color: var(--alice-blue);
    width: 100%;
}

.navigation a:hover {
    color: var(--alice-blue);
    text-decoration: underline 2px solid var(--alice-blue);
    transition: all 5ms ease-in-out;
}

.open a {
    display: block;
}

.hidden {
    display: none;
}

/*  Body *********************/

.subtitle {
    color: var(--eerie-black);
    text-align: center;
    font-size: 24px;
    padding: 20px;
}

.button-box {
    text-align: center;
}

.mybtn {
    padding: 10px 20px;
    text-transform: uppercase;
    border: none;
    background-color: var(--alice-blue);
    color: var(--eerie-black);
    border-radius: 5px;
    outline: none;
    font-weight: bold;
}

.mybtn:hover {
    background-color: var(--french-gray);
    color: var(--eerie-black);
    border: 2px solid var(--eerie-black);
}

.activebtn,
.activebtn:hover {
    background-color: var(--french-gray);
    color: var(--eerie-black);
    border: 2px solid var(--eerie-black);
}

#directory-box {
    display: grid;
}

#directory-box {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 5px;
    margin: 30px 10px;
}

.card-box {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px var(--eerie-black);
    margin: 5px;
}

.card-box span {
    font-weight: bold;
}

.card-box img {
    max-width: 30%;
    height: auto;
    border-radius: 8px;
}

.card-box h3 {
    color: var(--eerie-black);
    font-size: 16px;
    padding: 20px 0px;
}

.card-box p {
    color: var(--onyx);
    font-size: 14px;
    padding: 10px 0;
}


footer {
    padding: 20px;
    background-color: var(--gunmetal);
    color: var(--eerie-black);
    text-align: center;
}

footer p {
    color: var(--alice-blue);
    font-size: 18px;
    padding: 10px;
}