/* Larger Views ******************************/
@media (min-width: 750px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    #toggleView {
        display: block;
        margin: 20px;
        padding: 10px 20px;
        font-size: 16px;
    }

    .grid-view .directory-box {
        width: calc(33.333% - 32px);
    }

    .list-view {
        flex-direction: column;
    }

    .list-view .directory-box {
        width: 100%;
    }

    .navigation {
        justify-content: flex-end;
        flex-direction: row;
        padding: 0 50px;
    }

    .navigation a {
        display: block;
        padding: 1rem;
        flex: 1 1 100%;
    }

    #menu {
        display: none;
    }
}
