:root {
    /* Color Palette */
    --primary-color: #344E41;
    --secondary-color: #3A5A40;
    --accent1-color: #588157;
    --accent2-color: #A3B18A;
    --accent3-color: #DAD7CD;

    /* Fonts */
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;

    /* Text Colors */
    --headline-color-on-white: var(--secondary-color);
    /* Headlines on a white background */
    --headline-color-on-color: var(--accent3-color);
    /* Headlines on a colored background */
    --paragraph-color-on-white: var(--secondary-color);
    /* Paragraph text on a white background */
    --paragraph-color-on-color: var(--accent3-color);
    /* Paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);

    /* Navigation Colors */
    --nav-link-color: var(--accent3-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent2-color);
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white);
    margin: 0;
    padding: 0;
}

p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    margin: 0;
    padding: 0;
}

/* Small-screen */

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accent3-color);
}

.photo-perfil {
    border-radius: 5px;
    margin: 5px;
    width: 50px;
    height: 85px;
}

header h1 {
    font-size: 1.5rem;
}


#menu {
    font-size: 1.5rem;
    border: 0;
    background-color: var(--nav-background-color);
    color: var(--accent1-color);
    position: absolute;
    top: 1rem;
    right: 1rem;
}

#menu::before {
    content: "≡";
}

#menu.open::before {
    content: "❎";
}

nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: var(--nav-background-color);
    color: var(--nav-link-color);
}

nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: var(--nav-link-color);
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
    font-weight: 700;
}

.open a {
    display: block;
    font-size: 1.5rem;
}

.active::before {
    content: "🔗";
    padding-right: 0.5rem;
}

main {
    width: 400px;
    text-align: center;
    margin: 10px auto;
    display: grid;
    gap: 0.5em;
    grid-template-rows: repeat(5, auto);

}

section {
    background-color: var(--accent3-color);
    color: var(--headline-color-on-color);
    border-radius: 5px;
    text-align: center;
}

.card-01 {
    grid-row: 1;
}

.card-01 ol {
    color: var(--headline-color-on-white);
    text-align: left;
}

.card-02 {
    grid-row: 2;
}

.certificate01 {
    grid-row: 3;
}

.certificate02 {
    grid-row: 4;
}

.certificate03 {
    grid-row: 5;
}

section h2 {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin-bottom: 10px;
}

section h3 {
    color: var(--primary-color);
}

button {
    outline: none;
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    padding: 5px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.courseNoComplete {
    background-color: var(--accent3-color);
    border: var(--primary-color) solid 2px;
    width: 150px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: none;
    width: auto;
}

.courseComplete {
    background-color: var(--accent2-color);
    border: var(--primary-color) solid 2px;
    width: 150px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: none;
    width: auto;
}

[class^="certificate"] p {
    margin: 10px;
    font-weight: bold;
}

footer {
    padding: 20px;
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    text-align: center;
}

footer p {
    color: var(--paragraph-color-on-color)
}