:root {
    /* Color Palette */
    --primary-color: #344E41;
    --secondary-color: #3A5A40;
    --accent1-color: #588157;
    --accent2-color: #A3B18A;
    --accent3-color: #DAD7CD;

    /* Fonts */
    --heading-font: 'Poppins', sans-serif;
    --paragraph-font: 'Poppins', sans-serif;

    /* Text Colors */
    --headline-color-on-white: var(--secondary-color);
    /* Headlines on a white background */
    --headline-color-on-color: var(--accent3-color);
    /* Headlines on a colored background */
    --paragraph-color-on-white: var(--secondary-color);
    /* Paragraph text on a white background */
    --paragraph-color-on-color: var(--accent3-color);
    /* Paragraph text on a colored background */
    --paragraph-background-color: var(--secondary-color);

    /* Navigation Colors */
    --nav-link-color: var(--accent3-color);
    --nav-background-color: var(--primary-color);
    --nav-hover-link-color: var(--secondary-color);
    --nav-hover-background-color: var(--accent2-color);


    --barlow-regular-font-family: "Barlow", sans-serif;
    --barlow-regular-font-weight: 400;
    --barlow-regular-font-style: normal;

    --lato-regular-font-family: "Lato", sans-serif;
    --lato-regular-font-weight: 400;
    --lato-regular-font-style: normal;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--lato-regular-font-family);
}

p {
    font-family: var(--barlow-regular-font-family);
}

/* Header */
header {
    background-color: var(--b-header-footer);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    font-size: 2.5rem;
    max-width: 100%;
}

.photo-perfil {
    border-radius: 5px;
    margin: 5px;
    width: 50px;
    height: 85px;
}


#menu {
    font-size: 2rem;
    color: var(--alice-blue);
    border: 0;
    background: none;
    position: absolute;
    top: 2rem;
    right: 1.5rem;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--alice-blue);
    font-size: 30px;
    width: 50px;
    height: 50px;
}

#menu::before {
    content: "≡";

}

#menu.open::before {
    content: "❎";
    font-size: 25px;
}

main {
    margin: 0 auto;
    max-width: 730px;
    height: auto;
}

/* Navigation */
nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

nav a {
    display: none;
    padding: 1rem;
    text-decoration: none;
    margin: 10px;
    margin-right: 30px;
    border-radius: 5px;
    font-size: 1.3rem;
    color: var(--alice-blue);
    font-family: var(--lato-regular-font-family);
}


nav a:hover {
    font-weight: bold;
    text-decoration: underline 2px solid var(--alice-blue);
    transition: all 0.3s ease-in-out;
}

nav.open a {
    display: block;
}


nav a:hover {
    transition: all 0.3s ease-in-out;
}


main {
    width: 70%;
    max-width: 720px;
    text-align: center;
    margin: 10px auto;
    display: grid;
    gap: 0.5em;
    grid-template-rows: repeat(5, auto);

}

section {
    background-color: var(--accent3-color);
    color: var(--headline-color-on-color);
    border-radius: 5px;
    text-align: center;
}

.card-01 {
    grid-row: 1;
}

.card-01 ol {
    color: var(--headline-color-on-white);
    text-align: left;
}

.card-02 {
    grid-row: 2;
}

.certificate01 {
    grid-row: 3;
}

.certificate02 {
    grid-row: 4;
}

.certificate03 {
    grid-row: 5;
}

section h2 {
    background-color: var(--paragraph-background-color);
    color: var(--headline-color-on-color);
    border-radius: 5px 5px 0 0;
    padding: 10px;
    margin-bottom: 10px;
}

section h3 {
    color: var(--primary-color);
}

button {
    outline: none;
    background-color: var(--nav-background-color);
    font-family: var(--heading-font);
    color: var(--headline-color-on-color);
    padding: 5px 20px;
    margin: auto;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
}

.courseNoComplete {
    background-color: var(--accent3-color);
    border: var(--primary-color) solid 2px;
    width: 150px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: none;
    width: auto;
}

.courseComplete {
    background-color: var(--accent2-color);
    border: var(--primary-color) solid 2px;
    width: 150px;
    line-height: 30px;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    display: none;
    width: auto;
}

[class^="certificate"] p {
    margin: 10px;
    font-weight: bold;
}

/* Footer */
footer {
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    text-align: center;
    padding: 20px 0;
    margin-top: 20px;
    font-weight: bold;
}

footer p {
    margin: 10px 0;
    font-size: 1.2rem;
    color: var(--paragraph-color-on-color)
}

footer .social {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

footer .icon {
    width: 50px;
    height: 50px;
    transition: transform 0.3s ease;
}

footer .icon:hover {
    transform: scale(1.1);
}